.callpage-container {
  overflow-y: hidden;
  overflow-x: hidden;
  .video-container {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    object-fit: cover; // use "cover" to avoid distortion
    position: absolute;
    z-index: -1;
  }
}
